.footer {
    background-color: rgb(18, 147, 132);
    color: white;
}

.footer h4 {
    font-size: 1rem;
}

.footer p {
    font-size: 0.8rem;
}

.footer li {
    font-size: 0.8rem;
}

/* .col {
    border: 1px solid red;
} */