.navbar-brand {
    font-size: 1.8rem;
    padding: 1rem;
    font-family: "Raleway";
    font-weight: 700;
}

/* .link {
    font-family: "Raleway";
    font-weight: 500;
} */
#quote-button {
    font-family: "Raleway";
    font-weight: 500;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.nav-link {
    font-family: "Raleway";
    font-weight: 500;
}

@media (max-width: 992px) {
    #quote-button {
        margin-left: 0;
    }
}