.navbar-brand {
    font-size: 1.8rem;
    padding: 1rem;
    font-family: "Raleway";
    font-weight: 700;
}

/* .link {
    font-family: "Raleway";
    font-weight: 500;
} */
#quote-button {
    font-family: "Raleway";
    font-weight: 500;
}

.nav-link {
    font-family: "Raleway";
    font-weight: 500;
}