* {
    padding: 0;
    margin: 0;
}

footer {
    background-color: rgb(117, 185, 253);
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

/* .about {
    background-color: red;
}

.contact {
    background-color: blue;
}

.hours {
    background-color: green;
} */

.logo img {
    position: top;
    padding: 1rem;
    width: 30%;
    height: auto;
}

.container {
    display: flex;
    /* margin: 1rem; */
    gap: 1rem;
    padding: 1rem;

    max-width: 1000px;
    margin: 0 auto;

}

.container h3 {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* .col {
    flex-grow: 1;
    flex-basis: 100%;
} */

.col ul {
    /* list-style-type: none; */
    line-height: 1.6;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}



/* * {
    box-sizing: border-box;
} */

/* .footer {
    background-color: bisque;
    width: 100%;

    position: relative;
    bottom: 0; 
    display: flex;
    justify-content: center;
    
    padding-top: 3em;

} */

/* .container {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    
} */

/* .col {
    flex: 1;
    padding: 2rem;

} */